/* http://joehewitt.com/files/iphone/navigation.html */
body {
	margin: 0;
	font-family: Helvetica;
	background: #FFFFFF;
	color: #000000;
	overflow: hidden;
	-webkit-text-size-adjust: none;
}

body > h1 {
	box-sizing: border-box;
	margin: 0;
	padding: 10px;
	line-height: 20px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
	text-overflow: ellipsis;
	color: #FFFFFF;
	background: url(iPhoneToolbar.png) #6d84a2 repeat-x;
	border-bottom: 1px solid #2d3642;
}

.button {
	position: absolute;
	top: 8px;
	right: 6px;
	-webkit-border-image: url(iPhoneButton.png) 0 5 0 5;
	-webkit-border-radius: 0;
	border-width: 0 5px 0 5px;
	padding: 0;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
	text-decoration: none;
	background: none;
}

#homeButton {
	left: 6px;
	right: auto;
	-webkit-border-image: url(iPhoneBackButton.png) 0 8 0 14;
	border-width: 0 8px 0 14px;
}

.goButton {
	-webkit-border-image: url(iPhoneGoButton.png) 0 5 0 5;
	border-width: 0 5px;
}

ul.menu {
	width: 100%;
	margin: 0;
	padding: 0;
}

div.panel {
	position: absolute;
	left: 0;
	top: 41px;
	width: 100%;
	min-height: 418px;
	margin: 0;
	padding: 0;
}


body > *[selected="true"] {
	display: block;
}

ul.menu > li {
	margin: 0;
	border-bottom: 1px solid #E0E0E0;
	padding: 0;
	background: #FFF url(iPhoneArrow.png) no-repeat right center;
	font-size: 20px;
	font-weight: bold;
	list-style: none;
}

ul.menu > li > a {
	display: block;
	padding: 8px 32px 8px 8px;
	text-decoration: none;
	color: inherit;
}

.panel {
	box-sizing: border-box;
	padding: 10px;
	background: #c8c8c8 url(pinstripes.png);
	width: 100%;
}


label {
	position: absolute;
	margin: 14px 0 0 6px;
	font-size: 14px;
	color: #BBBBBB;
}

input {
	box-sizing: border-box;
	margin: 6px 5px 0 0;
	padding: 6px 6px 6px 80px;
	font-size: 16px;
	font-weight: normal;
}

input.submit {
	padding: 6px;
}

.content {
	margin: 20px;
}

#message {
	margin: 10px 0;
	padding: 0;
}

#message > li {
	border: 1px solid #000;
	border-left: 0;
	border-right: 0;
	padding: 3px 5px;
	background: #FFF;
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #444;
	text-shadow: #BBB 1px 1px 1px;
}

#message.error > li, #message.warn > li {
	border-color: #C00000;
	background: #FFD7D7;
}

#message.success > li, #message.notice > li {
	border-color: #09C000;
	background: #D9FFD7;
}

.content > p {
	border: 1px solid #999;
	background: #FFF;
	-webkit-border-radius: 5px;
	padding: 10px;
}
.item-project {
	font-size: 14px;
	font-weight: normal;
	float: right;
	margin-top: 5px;
}
